nav{
     height: 50px;
    width: 100%;
    background-color:rgba(158, 220, 245, 0.788);
      padding: 12px;
      display: flex;
      gap:60%;
}
h1{
    font-size: large;
    color: #790e0e;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.h{
color:rgb(48, 5, 5);
display: flex;
gap: 50px;  
margin-right: 0%;
}
div.i {
    width:100%;
    height: 50%;
    display: flex;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.i img {
    width:50%;
  padding: 10px;
}
.o,
.t,
.th,
.f,
.fi,
.s {
width:270px;
height: 270px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
margin-bottom: 25px;
padding: 40px 20px;
}
 div.g{
justify-content: center;
display: grid;
grid-template-columns: auto auto auto;
column-gap: 20px;
} 
@media(max-width:768px) {
  nav{
    width: 100%;
    background-color:rgba(177, 209, 32, 0.788);
  }
  div.i{
    display:none;
  }
  img.p1{
    width:100%;
    height: 50%;
  }
  img.p2{
    display:none;
  }
  img.p3{
    display:none;
  }
}